<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>TRAMO | S.A.S</title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  
  <link rel="shortcut icon" href="resources/img/favicons/logo.png" type="image/x-icon">
  


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="resources/css/theme.css" rel="stylesheet" />
  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link rel="stylesheet" href="resources/css/footer.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>


<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top pt-3" data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="index.html">
          <div class="text-warning">TRAMO</div>
          <div class="text-1000">S.A.S</div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
            <li class="nav-item"><a class="nav-link fw-medium active h5 text-primary" aria-current="page"
                href="./index.html">Inicio</a></li>
            <li class="nav-item"><a class="nav-link fw-medium h5 text-primary" href="./about.html">Acerca
                de Nosotros
              </a></li>
            <li class="nav-item"><a class="nav-link fw-medium h5 text-primary" href="#pricing">Testimonios</a>
            </li>
            <li class="nav-item"><a class="nav-link fw-medium h5 text-primary" href="./contactos.html">Contactos</a>
            </li>
            </li>
          </ul>
          <form class="ps-lg-5">
            <a href="/login" type="button" class="btn btn-lg btn-primary rounded-pill order-0 h5">Inicio Sesion</a>
          </form>
        </div>
      </div>
    </nav>
    <section class="py-0" id="home">
      <div class="bg-holder"
        style="background-image:url(resources/img/illustrations/hero-bg.png);background-position:bottom;background-size:cover;">
      </div>
      <!--/.bg-holder-->

      <div class="container position-relative">
        <div class="row align-items-center py-8">
          <div class="col-md-5 col-lg-6 order-md-1 text-center"><img class="img-fluid"
              src="resources/img/gallery/movil-inicio.png" style="max-width:270px ;" alt="" /></div>
          <div class="col-md-7 col-lg-6 text-center text-md-start"><span
              class="badge bg-light rounded-pill text-dark align-items-center d-flex flex-row-reverse justify-content-end mx-auto mx-md-0 ps-0 w-75 w-sm-50 w-md-75 w-xl-50 mb-3">
              APP #1
              Transporte De Carga 2023<img class="img-fluid float-start me-3"
                src="resources/img/illustrations/arrow-right.png" alt="" /></span>
            <h1 class="mb-4 display-3 fw-bold lh-sm">TRAMO <br class="d-block d-lg-none d-xl-block d5" />Transporte y
              Movilidad</h1>
            <p class="mt-3 mb-4 fs-1">Solicita tu servicio desde cualquier lugar <br
                class="d-none d-lg-block" />Descargando nuestra aplicación, disponible para Android y IOS</p>
            <div class="text-center text-md-start">
              <a class="btn btn-lg btn-success rounded-pill hover-top" href="#descarga-con">Descarga Gratis</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-7">

      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto align-items-center text-center">
            <p class="mb-4">Empresas que trabajan con nosotros</p>
          </div>
        </div>
        <div class="row align-items-center justify-content-center justify-content-lg-around">
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="resources/img/gallery/company-1.png" alt="" /></div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="resources/img/gallery/company-2.png" alt="" /></div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="resources/img/gallery/company-3.png" alt="" /></div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="resources/img/gallery/company-4.png" alt="" /></div>
          <div class="col-6 col-sm-4 col-md-4 col-lg-2 px-md-0 mb-5 mb-lg-0 text-center"><img
              src="resources/img/gallery/company-1.png" alt="" /></div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <section class="py-5" id="features">
      <div class="container-lg">
        <div class="row align-items-center">
          <div class="col-md-4 col-lg-5 order-md-0 text-center text-md-start mb-5 mb-md-0"><img class="img-fluid"
              src="resources/img/gallery/movil-cliente.png" style="max-width:270px ;" alt="" /></div>
          <div class="col-md-8 col-lg-7 px-sm-5 px-md-0">
            <h6 class="fw-bold fs-4 display-3 lh-sm">Caracteristicas de la<br />App TRAMO</h6>
            <p class="my-4">TRAMO conecta el campo y las ciudades en una sola aplicación,<br
                class="d-none d-xl-block" />siendo la primera empresa con enfoque en el campo.</p>
            <div class="d-flex align-items-center mb-5">
              <div><img class="img-fluid" src="resources/img/illustrations/fast-performance.png" width="90" alt="" /></div>
              <div class="px-4">
                <h5 class="fw-bold text-danger">Servicios Rapidos</h5>
                <p>Encuentra los vehiculos disponibles que esten <br class="d-none d-xl-block"> más cerca de tu
                  ubicación.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-5">
              <div><img class="img-fluid" src="resources/img/illustrations/prototype.png" width="90" alt="" /></div>
              <div class="px-4">
                <h5 class="fw-bold text-primary">Ahorro</h5>
                <p>Podrás ahorrar en tiempo y precios reduciendo <br class="d-none d-xl-block">y controlando los
                  sobreprecios en los servicios<br class="d-none d-xl-block"> de transporte</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-5">
              <div><img class="img-fluid" src="resources/img/illustrations/vector.png" width="90" alt="" /></div>
              <div class="px-4">
                <h5 class="fw-bold text-success">Desarrollo Para El Campo</h5>
                <p>Ofrecemos cobertura en en zonas urbanas y rurales<br class="d-none d-xl-block">para sacarte de apuros
                  en cualquier condición.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-6">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-start offset-md-1">
            <h6 class="fw-bold fs-4 display-3 lh-sm">Acerca de Nosotros</h6>
            <p class="my-4 pe-xl-5"> TRAMO es una aplicación que conecta de forma más fácil, rapida y segura a las
              personas que requieren de un servicio de transporte de carga para sus productos. <br
                class="d-none d-xl-block"><br> No solamente con enfoque en las ciudades, sino que también en el campo,
              debido a que en el departamento del Cauca cerca del 60% de la población pertenece a zonas rurales.</p>
            <a class="btn btn-lg btn-primary rounded-pill hover-top mb-5 mb-lg-0" href="#" role="button">Ver Más</a>
          </div>
          <div class="col-md-5 order-md-0 text-center text-md-start"><img class="img-fluid mb-4"
              src="resources/img/illustrations/acerca_nosotros_ilus.svg" width="300" alt="" />
          </div>

        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-md-8" id="faq">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 text-center mb-3">
            <h6 class="fw-bold fs-4 display-3 lh-sm mb-3">Preguntas Frecuentes</h6>
            <p class="mb-5">The rise of mobile devices transforms the way we consume information entirely and the
              world's most elevant channels such as Facebook.</p>
          </div>
        </div>
        <div class="row flex-center">
          <div class="col-lg-9">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading1">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                    aria-expanded="true" aria-controls="collapse1"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">How to contact with riders
                      emergency?</span></button>
                </h2>
                <div class="accordion-collapse collapse show" id="collapse1" aria-labelledby="heading1"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">Leverage agile frameworks to provide a robust synopsis for high
                    level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further
                    the overall value proposition. Organically grow the holistic world view of disruptive innovation via
                    workplace diversity and empowerment.Bring to the table win-win survival strategies to ensure
                    proactive domination. At the end of the day, going forward, a new normal that has evolved from
                    generation X is on the runway heading towards a streamlined cloud solution. User generated content
                    in real-time will have multiple touchpoints for offshoring.</div>
                </div>
              </div>
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">App installation failed, how to update system
                      information?</span></button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse2" aria-labelledby="heading2"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">You can issue either partial or full refunds. There are no fees to
                    refund a charge, but the fees from the original charge are not returned.</div>
                </div>
              </div>
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">Website reponse taking time, how to
                      improve?</span></button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse3" aria-labelledby="heading3"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">Disputed payments (also known as chargebacks) incur a $15.00 fee.
                    If the customer’s bank resolves the dispute in your favor, the fee is fully refunded.</div>
                </div>
              </div>
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">New update fixed all bug and issues</span></button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse4" aria-labelledby="heading4"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">There are no additional fees for using our mobile SDKs or to accept
                    payments using consumer wallets like Apple Pay or Google Pay.</div>
                </div>
              </div>
              <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="heading5">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5"><span
                      class="mb-0 fw-bold text-start fs-1 text-1000">How to contact with riders
                      emergency?</span></button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse5" aria-labelledby="heading5"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body bg-100">There are no additional fees for using our mobile SDKs or to accept
                    payments using consumer wallets like Apple Pay or Google Pay.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> Descarga ============================-->
    <!-- ============================================-->


    <section class="py-6" id="descarga-con">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-7 order-md-1 text-center z-index-2 cta-image">
            <img class="img-fluid mb-4 mb-md-0 img_descarga" src="resources/img/illustrations/cta.svg" width="400px"
              alt="" /></div>
          <div class="col-md-7 col-lg-5 text-center text-md-start">
            <h1 class="display-3 fw-bold lh-sm mt-md-8">Descarga La App De Tramo</h1>
            <p class="my-4"> The rise of mobile devices transforms the way we consume information entirely and the
              world's most elevant channels such as Facebook.</p>
            <div class="d-flex justify-content-center d-md-inline-block"><a class="pe-2 pe-sm-3 pe-md-4" href="!#"><img
                  src="resources/img/illustrations/google-play.png" width="160" alt="" /></a><a href="!#"><img
                  src="resources/img/illustrations/app-store.png" width="160" alt="" /></a></div>
          </div>
        </div>
      </div>
    </section>


    <!-- ============================================-->
    <!-- <section> Footer ============================-->
    <!-- ============================================-->



    <!-- <section> Holas ============================-->
    <!-- ============================================-->
    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M-1.58,23.19 C327.99,297.53 371.44,-79.44 501.80,87.32 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #161627;"></path>
      </svg></div>
    <!-- ============================================-->

    <footer class="footer">
      <div class="footer__container container-fluid ">
        <div class="row d-flex pb-md-5">
          <div class="col-12 col-md-6 col-xl-4 text-center text-md-start newsletter ps-md-5">
           <img src="resources/img/icons/negativo.png" width="60%" alt="">
            <ul class="footer__list my-4 text-center">
              <li class="footer__list-item me-2">
                <a href="#" class="footer__list-link">
                  <img src="resources/img/icons/facebook.svg" width="24px" class="ms-2" alt="">
                </a>
              </li>
              <li class="footer__list-item me-2">
                <a href="#" class="footer__list-link">
                  <img src="resources/img/icons/instagram.svg" width="24px" class="ms-2" alt="">
                </a>
              </li>
              <li class="footer__list-item me-2">
                <a href="#" class="footer__list-link">
                  <img src="resources/img/icons/twitter.svg" width="24px" class="ms-2" alt="">
                </a>
              </li>
              <li class="footer__list-item me-2">
                <a href="#" class="footer__list-link">
                  <img src="resources/img/icons/whatsapp.svg" width="24px" class="ms-2" alt="">
                </a>
              </li>
              <li class="footer__list-item me-2">
                <a href="#" class="footer__list-link">
                  <img src="resources/img/icons/youtube.svg" width="24px" class="ms-2" alt="">
                </a>
              </li>
            </ul>
            <div class="eslogan-footeer mt-3">
              <p>"Llegamos a todos los rincones <br> del pais, para sacarte de <br> apuros en cualquier situación"</p>
            </div>
          </div>


          <div class="col-12 col-md-6 col-xl-4 text-center text-md-start ">
            <h6 class="footer__title">Navegación</h6>
            <ul class="footer__list">
              <li class="footer__list-item">
                <img src="resources/img/icons/back.svg" alt="">
                <a href="" class="footer__list-link ms-3">Inicio</a>
              </li>
              <li class="footer__list-item">
                <img src="resources/img/icons/back.svg" alt="">
                <a href="" class="footer__list-link ms-3">Acerca de nosotros</a>
              </li>
              <li class="footer__list-item">
                <img src="resources/img/icons/back.svg" alt="">
                <a href="" class="footer__list-link ms-3">Testimonios</a>
              </li>
              <li class="footer__list-item">
                <img src="resources/img/icons/back.svg" alt="">
                <a href="" class="footer__list-link ms-3">Ayuda</a>
              </li>
              <li class="footer__list-item">
                <img src="resources/img/icons/back.svg" alt="">
                <a href="" class="footer__list-link ms-3">Desarrolladores</a>
              </li>
            </ul>
          </div>

          <div class="col-12 col-md-6 col-xl-4 text-center text-md-start ">
            <h6 class="footer__title">Contactanos</h6>
            <ul class="footer__list">
              <li class="footer__list-item">
                <img src="resources/img/icons/geo.svg" alt="">
                <a href="" class="footer__list-link ms-1">Crra 5 #6-67 CTPI SENA Norte</a>
              </li>
              <li class="footer__list-item">
                <img src="resources/img/icons/email.svg" alt="">
                <a href="" class="footer__list-link ms-1">TramoAdmin@gmail.com</a>
              </li>
              <li class="footer__list-item">
                <img src="resources/img/icons/telephone.svg" alt="">
                <a href="" class="footer__list-link ms-1">+57 3235234567</a>
              </li>
              <li class="footer__list-item">
                <img src="resources/img/icons/telephone.svg" alt="">
                <a href="" class="footer__list-link ms-1">+57 3235234567</a>
              </li>
            </ul>
          </div>



        </div>
        <hr class="footer__divider">

        <div class="footer__bottom w-100 text-center">
          <p class="copyright text-center">&copy; 2022 <span class="h6 text-white-50">TRAMO</span>. Todos los derechos
            reservados</p>
        </div>
      </div>
    </footer>
    <!-- end of .container-->

  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="resources/vendors/@popperjs/popper.min.js"></script>
  <script src="resources/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="resources/vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="resources/js/theme.js"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap"
    rel="stylesheet">
</body>

</html>