<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRAMO S.A.S</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicon TRAMO -->
  <link rel="shortcut icon" href="resources/img/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gsta  tic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS BOOTSTRAP Files -->
  <link href="resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="resources/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Main CSS STYLE File -->
  <link href="resources/css/styleAdmin.css" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>La pagína que busca no existe</h2>
        <a class="btn" href="/">Volver al inicio</a>
        <img src="resources/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
      </section>

    </div>
  </main><!-- End #main -->

</body>
</html>