<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRAMO S.A.S</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicon TRAMO -->
  <link rel="shortcut icon" href="resources/img/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gsta  tic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS BOOTSTRAP Files -->
  <link href="resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="resources/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Main CSS STYLE File -->
  <link href="resources/css/styleAdmin.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/admin" class="me-3">
            <img src="resources/img/Horizontal.png" alt="logo_tramo" width="230px">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
    
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
    
            <li class="nav-item dropdown">
    
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-bell"></i>
                <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->
    
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                <li class="dropdown-header">
                    You have 4 new notifications
                    <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                    <i class="bi bi-exclamation-circle text-warning"></i>
                    <div>
                    <h4>Lorem Ipsum</h4>
                    <p>Quae dolorem earum veritatis oditseno</p>
                    <p>30 min. ago</p>
                    </div>
                </li>
    
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                    <i class="bi bi-x-circle text-danger"></i>
                    <div>
                    <h4>Atque rerum nesciunt</h4>
                    <p>Quae dolorem earum veritatis oditseno</p>
                    <p>1 hr. ago</p>
                    </div>
                </li>
    
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                    <i class="bi bi-check-circle text-success"></i>
                    <div>
                    <h4>Sit rerum fuga</h4>
                    <p>Quae dolorem earum veritatis oditseno</p>
                    <p>2 hrs. ago</p>
                    </div>
                </li>
    
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                    <i class="bi bi-info-circle text-primary"></i>
                    <div>
                    <h4>Dicta reprehenderit</h4>
                    <p>Quae dolorem earum veritatis oditseno</p>
                    <p>4 hrs. ago</p>
                    </div>
                </li>
    
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li class="dropdown-footer">
                    <a href="#">Show all notifications</a>
                </li>
    
                </ul><!-- End Notification Dropdown Items -->
    
            </li><!-- End Notification Nav -->
    
            <li class="nav-item dropdown">
    
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-chat-left-text"></i>
                <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->
    
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                <li class="dropdown-header">
                    You have 3 new messages
                    <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li class="message-item">
                    <a href="#">
                    <img src="resources/img/messages-1.jpg" alt="" class="rounded-circle">
                    <div>
                        <h4>Maria Hudson</h4>
                        <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                        <p>4 hrs. ago</p>
                    </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li class="message-item">
                    <a href="#">
                    <img src="resources/img/messages-2.jpg" alt="" class="rounded-circle">
                    <div>
                        <h4>Anna Nelson</h4>
                        <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                        <p>6 hrs. ago</p>
                    </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li class="message-item">
                    <a href="#">
                    <img src="resources/img/messages-3.jpg" alt="" class="rounded-circle">
                    <div>
                        <h4>David Muldon</h4>
                        <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                        <p>8 hrs. ago</p>
                    </div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li class="dropdown-footer">
                    <a href="#">Show all messages</a>
                </li>
    
                </ul><!-- End Messages Dropdown Items -->
    
            </li><!-- End Messages Nav -->
    
            <li class="nav-item dropdown pe-3">
    
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="resources/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                <% if(login){ %>
                    <span class="d-none d-md-block dropdown-toggle ps-2"><%= name %></span>
                <% } %>
                </a><!-- End Profile Iamge Icon -->
    
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="/perfil">
                    <i class="bi bi-person"></i>
                    <span>Mi Perfil</span>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                    <i class="bi bi-gear"></i>
                    <span>Configuraciones</span>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
    
                <% if(login){ %>
                    <li>
                      <a class="dropdown-item d-flex align-items-center" href="/logout">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Cerrar Sesión</span>
                      </a>
                    </li>
                <% }else { %>
                      
                <% } %>
    
                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
    
            </ul>
        </nav><!-- End Icons Navigation -->
    
        </header><!-- End Header -->
    
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
    
        <ul class="sidebar-nav" id="sidebar-nav">
    
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin">
            <i class="bx bi-card-heading"></i>
            <span>Conductores</span>
            </a>
        </li><!-- End index Nav -->
    
        <li class="nav-item">
            <a class="nav-link collapsed" href="/solicitudes-con">
            <i class="bx bi-card-heading"></i>
            <span>Solicitudes</span>
            </a>
        </li><!-- End solicitudes Nav -->
    
        <li class="nav-item">
            <a class="nav-link collapsed" href="/datos-con">
            <i class="bx bi-card-heading"></i>
            <span>Datos Conductores</span>
            </a>
        </li><!-- End datos conductor Nav -->
    
        <li class="nav-item">
            <a class="nav-link" href="/datos-clien">
            <i class="bx bi-card-heading"></i>
            <span>Datos cliente</span>
            </a>
        </li><!-- End dato cliente Nav -->
    
        <li class="nav-item">
            <a class="nav-link collapsed" href="/historial">
            <i class="bx bi-card-heading"></i>
            <span>Historial</span>
            </a>
        </li><!-- End historial Nav -->
    
        <li class="nav-item">
            <a class="nav-link collapsed" href="/p-q-r-s">
            <i class="bx bi-card-heading"></i>
            <span>P.Q.R.S</span>
            </a>
        </li><!-- End P.Q.R.S Nav -->
        </ul>
    
    </aside><!-- End Sidebar-->
    
    <main id="main" class="main">
        <div class="contenedor_principal_datos_cliente">
        <div class="titulo3 text-white bg-primary pt-2 pb-2 mb-2 border-radius rounded">DATOS CLIENTES</div>
        <div class="contenedor_datos_cliente">
            <div class="datos_cliente rounded">
            <table id="tablas-datos_cliente">
                <tr>
                <td>
                    <table>
                    <tr>
                        <td><b>Empresa</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2"><img src="resources/img/profile-img.jpg" class="rounded-circle" width="60px"></td>
                        <td>Carlos Fernandez</td>
                    </tr>
                    <tr>
                        <td>3227699910</td>
                    </tr>
                    </table>
                </td>
                <td><b>Correo Electronico</b></br>
                    krlosnoguera21@gmail.com</td>
                </tr>
                <tr>
                <td><b>Calificación</b></br>
                    <i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i>
                </td>
                <td><b>Dirección</b></br>
                    Crra 52# 76-82 Popayan</td>
                </tr>
                <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-primary btn-sm mt-3">Habilitar</button>
                    <button type="button" class="btn btn-secondary btn-sm mt-3">Inhabilitar</button>
                </td>
                </tr>
            </table>
            </div>
            <div class="datos_cliente rounded">
            <table id="tablas-datos_cliente">
                <tr>
                <td>
                    <table>
                    <tr>
                        <td><b>Empresa</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2"><img src="resources/img/profile-img.jpg" class="rounded-circle" width="60px"></td>
                        <td>Carlos Fernandez</td>
                    </tr>
                    <tr>
                        <td>3227699910</td>
                    </tr>
                    </table>
                </td>
                <td><b>Correo Electronico</b></br>
                    krlosnoguera21@gmail.com</td>
                </tr>
                <tr>
                <td><b>Calificación</b></br>
                    <i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i>
                </td>
                <td><b>Dirección</b></br>
                    Crra 52# 76-82 Popayan</td>
                </tr>
                <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-primary btn-sm mt-3">Habilitar</button>
                    <button type="button" class="btn btn-secondary btn-sm mt-3">Inhabilitar</button>
                </td>
                </tr>
            </table>
            </div>
            <div class="datos_cliente rounded">
            <table id="tablas-datos_cliente">
                <tr>
                <td>
                    <table>
                    <tr>
                        <td><b>Empresa</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2"><img src="resources/img/profile-img.jpg" class="rounded-circle" width="60px"></td>
                        <td>Carlos Fernandez</td>
                    </tr>
                    <tr>
                        <td>3227699910</td>
                    </tr>
                    </table>
                </td>
                <td><b>Correo Electronico</b></br>
                    krlosnoguera21@gmail.com</td>
                </tr>
                <tr>
                <td><b>Calificación</b></br>
                    <i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i>
                </td>
                <td><b>Dirección</b></br>
                    Crra 52# 76-82 Popayan</td>
                </tr>
                <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-primary btn-sm mt-3">Habilitar</button>
                    <button type="button" class="btn btn-secondary btn-sm mt-3">Inhabilitar</button>
                </td>
                </tr>
            </table>
            </div>
            <div class="datos_cliente rounded">
            <table id="tablas-datos_cliente">
                <tr>
                <td>
                    <table>
                    <tr>
                        <td><b>Empresa</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2"><img src="resources/img/profile-img.jpg" class="rounded-circle" width="60px"></td>
                        <td>Carlos Fernandez</td>
                    </tr>
                    <tr>
                        <td>3227699910</td>
                    </tr>
                    </table>
                </td>
                <td><b>Correo Electronico</b></br>
                    krlosnoguera21@gmail.com</td>
                </tr>
                <tr>
                <td><b>Calificación</b></br>
                    <i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i>
                </td>
                <td><b>Dirección</b></br>
                    Crra 52# 76-82 Popayan</td>
                </tr>
                <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-primary btn-sm mt-3">Habilitar</button>
                    <button type="button" class="btn btn-secondary btn-sm mt-3">Inhabilitar</button>
                </td>
                </tr>
            </table>
            </div>
            <div class="datos_cliente rounded">
            <table id="tablas-datos_cliente">
                <tr>
                <td>
                    <table>
                    <tr>
                        <td><b>Empresa</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2"><img src="resources/img/profile-img.jpg" class="rounded-circle" width="60px"></td>
                        <td>Carlos Fernandez</td>
                    </tr>
                    <tr>
                        <td>3227699910</td>
                    </tr>
                    </table>
                </td>
                <td><b>Correo Electronico</b></br>
                    krlosnoguera21@gmail.com</td>
                </tr>
                <tr>
                <td><b>Calificación</b></br>
                    <i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i>
                </td>
                <td><b>Dirección</b></br>
                    Crra 52# 76-82 Popayan</td>
                </tr>
                <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-primary btn-sm mt-3">Habilitar</button>
                    <button type="button" class="btn btn-secondary btn-sm mt-3">Inhabilitar</button>
                </td>
                </tr>
            </table>
            </div>
            <div class="datos_cliente rounded">
            <table id="tablas-datos_cliente">
                <tr>
                <td>
                    <table>
                    <tr>
                        <td><b>Empresa</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2"><img src="resources/img/profile-img.jpg" class="rounded-circle" width="60px"></td>
                        <td>Carlos Fernandez</td>
                    </tr>
                    <tr>
                        <td>3227699910</td>
                    </tr>
                    </table>
                </td>
                <td><b>Correo Electronico</b></br>
                    krlosnoguera21@gmail.com</td>
                </tr>
                <tr>
                <td><b>Calificación</b></br>
                    <i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i>
                </td>
                <td><b>Dirección</b></br>
                    Crra 52# 76-82 Popayan</td>
                </tr>
                <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-primary btn-sm mt-3">Habilitar</button>
                    <button type="button" class="btn btn-secondary btn-sm mt-3">Inhabilitar</button>
                </td>
                </tr>
            </table>
            </div>
            <div class="datos_cliente rounded">
            <table id="tablas-datos_cliente">
                <tr>
                <td>
                    <table>
                    <tr>
                        <td><b>Empresa</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2"><img src="resources/img/profile-img.jpg" class="rounded-circle" width="60px"></td>
                        <td>Carlos Fernandez</td>
                    </tr>
                    <tr>
                        <td>3227699910</td>
                    </tr>
                    </table>
                </td>
                <td><b>Correo Electronico</b></br>
                    krlosnoguera21@gmail.com</td>
                </tr>
                <tr>
                <td><b>Calificación</b></br>
                    <i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i>
                </td>
                <td><b>Dirección</b></br>
                    Crra 52# 76-82 Popayan</td>
                </tr>
                <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-primary btn-sm mt-3">Habilitar</button>
                    <button type="button" class="btn btn-secondary btn-sm mt-3">Inhabilitar</button>
                </td>
                </tr>
            </table>
            </div>
        </div>
        </div>
    </div>
    </main>
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
  <script src="resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="resources/js/main.js"></script>

</body>

</html>