<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRAMO S.A.S</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicon TRAMO -->
  <link rel="shortcut icon" href="resources/img/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gsta  tic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <!-- Main CSS STYLE File -->
  <link href="resources/css/styleAdmin.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <div class="manifiesto" >
        <table border="1" id="tabla_manifiesto">
        <tr>
            <td colspan="3" rowspan="3" style="border: none;"><img style="margin-top: 40px;" src="resources/img/Horizontal.png" width="90%"></td>
    
            <td rowspan="5" colspan="3">
                <b>MANIFIESTO ELECTRONICO DE CARGA</b><br>
                TRAMO S.A.S<br>
                NIT: 151154544<br>
                Crra 4 #7-65 Popáyan-Cauca
            </td>
    
            <td rowspan="5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque architecto iste neque voluptatum vero laudantium temporibus, unde vel iusto ex, impedit ipsa atque ratione corporis rem! Quae deserunt repudiandae qui!<br></br>
                <b>MANIFIESTO:</b> 032545<br>
                <b>AUTORIZACIÓN:</b> 325656553565565
            </td>
    
            <td rowspan="7"><img src="resources/img/qr.png"></td>
        </tr>
    
        <tr>
            
        </tr>
    
        <tr>

        </tr>
    
        <tr>
            <td colspan="3" rowspan="2" style="border: none;"><img src="resources/img/MINTRANSPORTE.png" width="65%"></td>
        </tr>
    
        <tr>
            
        </tr>
    
        <tr>
            <td ><b>FECHA DE EXPEDICIÓN</b></td>
            <td colspan="2"><b>TIPO DE MANIFIESTO</b></td>
            <td colspan="2"><b>ORIGEN DEL VIAJE</b></td>
            <td colspan="2"><b>DESTINO DEL VIAJE</b></td>
        </tr>
    
        <tr>
            <td >06/05/2022</td>
            <td colspan="2">GENERAL</td>
            <td colspan="2">Popayan-Cauca</td>
            <td colspan="2">El Tambo-Cauca</td>
        </tr>
    
        <tr>
            <td colspan="8"><b>INFORMACIÓN DEL VEHICULO Y CONDUCTOR</b></td>
        </tr>
    
        <tr>
            <td colspan="2"><b>TITULAR DE MINIFIESTO</b></td>
            <td><b>DOCUMENTO INDENTIFICACIÓN</b></td>
            <td colspan="3"><b>DIRECCIÓN</b></td>
            <td><b>TELEFONO</b></td>
            <td><b>CIUDAD</b></td>
        </tr>
    
        <tr>
            <td colspan="2">FRANCISCO FERNANDO PEREZ</td>
            <td>1059355806</td>
            <td colspan="3">CALLE 07 79 A-58</td>
            <td>320 7699 9910</td>
            <td>POPÁYAN-CAUCA</td>
        </tr>
    
        <tr>
            <td><b>PLACA</b></td>
            <td><b>MARCA</b></td>
            <td><b>PLACA SEMIREMOLQUE</b></td>
            <td><b>CONFIGURACIÓN</b></td>
            <td><b>PESO VACIO</b></td>
            <td><b>N° DE POLIZA</b></td>
            <td><b>COMPAÑIA DE SEGUROS SOAT</b></td>
            <td><b>FECHA VENCIMIENTO SOAT</b></td>
        </tr>
    
        <tr>
            <td>FGR75C</td>
            <td>CHEVROLET</td>
            <td>676 S</td>
            <td>2</td>
            <td>4000KG</td>
            <td>545454545454544</td>
            <td>SEGURO DE ESTADO</td>
            <td>12/02/2025</td>
        </tr>
    
        <tr>
            <td colspan="2"><b>CONDUCTOR</b></td>
            <td><b>DOCUMENTO DE INDENTIFICACIÓN</b></td>
            <td colspan="2"><b>DIRECCIÓN</b></td>
            <td><b>N° TELÉFONO</b></td>
            <td><b>N° DE LICENCIA</b></td>
            <td><b>CIUDAD</b></td>
        </tr>
    
        <tr>
            <td colspan="2">CARLOS HERNESTO MARTINEZ</td>
            <td>100234569</td>
            <td colspan="2">CRA 79 A-58</td>
            <td>320 452 8976</td>
            <td>11511245</td>
            <td>POPÁYAN-CAUCA</td>
        </tr>
    
        <tr>
            <td colspan="2"><b>CONDUCTOR N°2</b></td>
            <td><b>DOCUMENTO DE INDENTIFICACIÓN</b></td>
            <td colspan="2"><b>DIRECCIÓN CONDUCTOR N°2</b></td>
            <td><b>N° TELÉFONO</b></td>
            <td><b>N° DE LICENCIA</b></td>
            <td><b>CIUDAD CONDUCTOR N°2</b></td>
        </tr>
    
        <tr>
            <td colspan="2">CARLOS HERNESTO MARTINEZ</td>
            <td>100234569</td>
            <td colspan="2">CRA 79 A-58</td>
            <td>320 452 8976</td>
            <td>11511245</td>
            <td>POPÁYAN-CAUCA</td>
        </tr>
    
        <tr>
            <td colspan="2"><b>POSEEDOR O TENEDOR VEHICULO</b></td>
            <td><b>DOCUMENTO DE INDENTIFICACIÓN</b></td>
            <td colspan="2"><b>DIRECCIÓN CONDUCTOR N°2</b></td>
            <td><b>N° TELÉFONO</b></td>
            <td colspan="2"><b>CIUDAD</b></td>
        </tr>
    
        <tr>
            <td colspan="2">CARLOS HERNESTO MARTINEZ</td>
            <td>100234569</td>
            <td colspan="2">CRA 79 A-58</td>
            <td>320 452 8976</td>
            <td colspan="2">POPÁYAN-CAUCA</td>
        </tr>
    
        <tr>
            <td colspan="8"><b>INFORMACIÓN DE LA MERCACANCÍA TRANSPORTADA</b></td>
        </tr>
    
        <tr>
            <td colspan="5"><b>INFORMACIÓN MERCACANCÍA</b></td>
            <td><b>INFORMACIÓN REMITENTE</b></td>
            <td><b>INFORMACIÓN DESTINATARIO</b></td>
            <td rowspan="2"><b>DUEÑO POLIZA</b></td>
        </tr>
    
        <tr>
            <td><b>N° REMEZA</b></td>
            <td><b>UNIDAD DE MEDIDA</b></td>
            <td><b>CANTIDAD</b></td>
            <td><b>NATURALEZA</b></td>
            <td><b>EMPAQUE-PRODUCTO TRANSPORTADO</b></td>
            <td><b>CC/NIT NOMBRE/RAZÓN SOCIAL</b></td>
            <td><b>CC/NIT NOMBRE/RAZÓN SOCIAL</b></td>
        </tr>
    
        <tr>
            <td>a4268</td>
            <td>KILOGRAMOS</td>
            <td>1000</td>
            <td>CARGA NORMAL</td>
            <td>PAQUETE-HIERROS Y ACERO</td>
            <td>0234567892 Ferro Maquinas S.A.S</td>
            <td>0245484464 Maquinas Cauca S.A.S</td>
            <td>TRAMO S.A.S</td>
        </tr>
    
        <tr>
            <td colspan="6"><b>VALORES</b></td>
            <td colspan="2"><b>OBSERVACIONES</b></td>
        </tr>
    
        <tr>
            <td><b>VALOR TOTAL DEL VIAJE</b></td>
            <td>649,456</td>
            <td rowspan="2"><b>LUGAR</b></td>
            <td rowspan="2">POPAYAN</td>
            <td rowspan="2"><b>FECHA</b></td>
            <td rowspan="2">02/09/2022</td>
            <td colspan="2" rowspan="6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos repudiandae et quae dolores qui iste nemo, aperiam veritatis dicta voluptatibus distinctio expedita voluptatum cum temporibus saepe maiores? Doloremque, inventore reprehenderit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores doloribus dolorum explicabo non molestias ex animi nostrum illum sint optio. Quisquam officiis perferendis ipsum reiciendis officia fuga nam, asperiores ut.
            </td>
        </tr>
    
        <tr>
            <td><b>RETENCIÓN EN LA FUENTE</b></td>
            <td>6,456</td>
        </tr>
    
        <tr>
            <td><b>RETENCIÓN ICA</b></td>
            <td>0</td>
            <td colspan="4" rowspan="2"><b>CARGO PAGADO POR:</b> REMITENTE</td>
        </tr>
    
        <tr>
            <td><b>NETO A PAGAR</b></td>
            <td>655,912</td>
        </tr>
    
        <tr>
            <td><b>VALOR ANTICIPO</b></td>
            <td>0</td>
            <td colspan="4" rowspan="2"><b>CARGO PAGADO POR:</b> DESTINATARIO</td>
        </tr>
    
        <tr>
            <td><b>SALDO A PAGAR</b></td>
            <td>655,912</td>
        </tr>
    
        <tr>
            <td colspan="8" style="text-align: left;"><b>VALOR A PAGAR EN LETRAS:</b> SEISCIENTOS CINCUENTA Y CINCO MIL NOVECIENTOS DOCE PESOS M/C</td>
        </tr>
    
        <tr style="height: 200px;" valign="top">
            <td colspan="3"><b>DOCUMENTO FIRMADO DIGITALMENTE POR LA EMPRESA:</b> TRAMO S.A.S</td>
            <td colspan="3" ><b>FIRMA Y HUELLA TITULAR MANIFIESTO</b></td>
            <td colspan="3"><b>FIRMA Y HUELLA DEL CONDUCTOR</b></td>
        </tr>
    
    </table>
    </div>

</body>

</html>